
                {% set url = path('ads_show',{'slug':ad.slug}) %}

                <div class="col-md-4">
                    <div class="card bg-lenght mb-3">
                        <div class="card header text-center">
                            {{ ad.rooms}} chambres, <strong>{{ ad.price }}euro / nuit</strong> <br>
                            <small>Pas encore noté</small>
                        </div>
                        <a href=" {{ url }} ">
                            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height:200; width:100%; display:block">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ url }}">{{ ad.title }}</a>
                                    
                            </h5>
                            <p class="card-text">
                                {{ ad.introduction }}
                            </p>
                            <a href="{{ url }}" class="btn btn-secondary">En savoir plus !</a>
                        </div>
                    </div>
                </div>